body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
}

.site-wrapper {
  width: 100%;
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider3.png");
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.container-inner {
  margin: 0 auto;
  padding: 9px 27px 0 27px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  padding: 12px 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.main-header {
  display: flex;
  flex-wrap: wrap;
}

.main-header .header-logo {
  border: 0;
}

.main-header ul {
  padding: 0;
  list-style: none;
}

.main-nav {
  flex-grow: 1;
  margin-left: 9px;
}

.topmenu {
  display: flex;
  position: relative;
}

.topmenu-item a {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  vertical-align: bottom;
  padding: 0;
  padding-top: 5px;
  margin-right: 13px;
  margin-left: 15px;
}

.current-page a {
  background-color: #e74b36;
  border-radius: 20px;
  margin: 0;
  padding: 5px 14px;
}

.topmenu-item > a:hover {
  color: #333333;
  background-color: #f7f6f3;
  margin: 0;
  padding: 5px 14px;
  border-radius: 20px;
}

.topmenu-item a:active {
  box-shadow: inset 0 1px 2px 0 #696969;
}

.main-nav .submenu {
  background-color: #f8f7f4;
  position: absolute;
  top: 50px;
}

.submenu {
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  top: 0;
  left: 0;
  z-index: 50;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  margin-top: -17px;
  display: none;
}

.topmenu-item-first:hover .submenu {
  display: block;
}

.submenu-item {
  border-radius: 3px;
  padding: 7px 20px;
}

.submenu-item:first-child {
  padding-top: 11px;
  padding-bottom: 20px;
}

.submenu-item:last-child {
  padding-bottom: 13px;
}

.submenu-item:first-child a {
  font-weight: bold;
}

.submenu-item:first-child::after {
  background-color: #d1d0ce;
  content: "";
  height: 1px;
  left: 6px;
  position: absolute;
  top: 38px;
  width: 128px;
}

.submenu-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
}

.submenu-item:hover {
  color: #e84d37;
  background-color: #fbded8;
}

.submenu-item:active {
  color: #e84d37;
  background-color: #f6b5a5;
}


.submenu-item.current-item {
  background-color: #d07058;
  color: white;
  border: 0;
}

.user-navigation ul {
  display: flex;
  justify-content: flex-end;
  width: 267px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.user-navigation li {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}

.search {
  position: relative;
}

.search a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  border-radius: 50%;
}


.user-navigation .search-form {
  display: inline-block;
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 4px;
  position: absolute;
  top: 36px;
  left: -309px;
  display: none;
}

.search a:hover {
  background-color: #f8f7f4;
  background-image: url("../img/loupe-hover.svg");
  background-repeat: no-repeat;
  background-position: 7px 7px;

}

.search:hover .search-form {
  display: block;
}

.user-navigation input[type="search"] {
  width: 311px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.user-navigation a {
  display: inline-block;
  border-bottom: 0;
  vertical-align: bottom;
}

.user-navigation a:hover {
  color: #323232;
}

.user-navigation .login a {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  padding: 8px 17px 9px 44px;
}

.user-navigation .login a::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 6px;
  width: 20px;
  height: 19px;
  background-image: url("../img/enter.svg");
}

.login a:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.login a:hover::before {
   background-color: #f8f7f4;
   background-image: url("../img/entrance.svg");
   background-repeat: no-repeat;
}

.basket a {
  position: relative;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 34px 8px 44px;
}

.basket a:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.basket a::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 6px;
  width: 20px;
  height: 20px;
  background-image: url("../img/basket.svg");
}

.basket a:hover::before {
   background-color: #f8f7f4;
   background-image: url("../img/basket-hover.svg");
   background-repeat: no-repeat;
}

.basket-full a {
  padding: 8px 16px 8px 40px;
  width: 60px;
  background-color: #f8f7f4;
  color: #323232;
}


.basket-full a::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 6px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket-red.svg");
}

.basket-full a:hover::before {
   background-color: #f8f7f4;
   background-image: url("../img/basket-red.svg");
   background-repeat: no-repeat;
}

.user-navigation .info {
  text-align: right;
}

.info .working-hours {
  font-size: 14px;
  line-height: 16px;
}

.info .phone {
  vertical-align: middle;
  font-size: 22px;
  line-height: 24px;
}
/*_________________________breadcrumbs_________________________*/

.breadcrumbs-wrapper {
  margin-top: -12px;
  padding: 0;
  position: relative;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -20px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 18px;
  text-decoration: none;
  display: inline-block;
}

.breadcrumbs li:nth-child(2)::before,
.breadcrumbs li:nth-child(3)::before {
  content: "»";
  position: absolute;
  width: 6px;
  height: 6px;
  left: -15px;
}
/*___________________________________________________________*/

.container h1 {
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 25px;
  margin-top: 15px;
}


/*_________________________________Слайдер__________________________________*/

.slider {
  position: relative;

  /*padding-top: 321px;*/
  padding-top: 276px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-btn {
  display: inline-block;
  padding: 10px 40px;

  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
  margin-bottom: 26px;
}

.slide-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 46px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}


/*________________________________ПРОМО_____________________________________*/

.promo .promo-items-list {
  display: flex;
  align-content: stretch;
  list-style: none;
  padding: 0;
  min-height: 229px;
}

.promo .promo-item {
  width: 50%;
  padding: 16px 22px 0 20px;
  border-radius: 15px;
}

.promo-item:first-child {
  margin-right: 13px;
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
  background-color: #912241;
}

.promo-item:last-child {
  margin-left: 13px;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  background-color: #774229;
}

.promo-item h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  padding:0;
}

.promo-item p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 43px;
  margin-top: 15px;
}

.promo-btn {
  float: right;
  padding: 11px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

}
/*____________________________СОРТИРОВКА_________________________________*/

.filter {
  height: 133px;
}

.filter-form {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.filter-form fieldset {
  margin-right: 15px;
  margin-bottom: 38px;
  border: none;
  padding-left: 0;
}

.filter-form .sorting-form {
  margin-right: 2px;
  margin-bottom: 7px;
  /*height: 60px;*/
}

.filter-form .sort {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #ffffff;
  padding: 6px 10px 7px 8px;
  width: 192px;
}

.filter-form .sort:hover,
.filter-form .sort:focus {
  color: #323232;
}

.filter-form legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 15px;
}
/*_______________________________________*/
.filter-form .price-form {
  margin-left: 0px;
  margin-right: 2px;
  margin-bottom: 7px;
}

.range-controls {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #ffffff;
  padding: 18px 21px;
  width: 176px;
  position: relative;
}

.range-scale {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 176px;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
  transform: translate(-50%, -50%);
}

.range-bar {
  position: absolute;
  left: 33px;
  width: 96px;
  height: 4px;
  background-color: #f8f7f4;
}

.range-toggle {
  position: absolute;
  top: 50%;
  left: 34px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background-image: url("../img/range.svg");
  cursor: pointer;
  transform: translateY(-50%);
}

.range-toggle-max {
  left: 132px;
}

.filter-form input[type="range"] {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
}

.filter-form .fat-form {
  margin-bottom: 7px;
}

.filter-form .fat {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #ffffff;
  padding-top: 9px;
  padding-right: 5px;
  padding-bottom: 9px;
  padding-left: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  width: 410px;
}

.fat-form  li {
  text-decoration: none;
  display: inline-block;
  margin-left: 46px;
  position: relative;
}

.fat-radio input[type="radio"] + .radio-indicator {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: -2px;
  left: -33px;
  background-image: url("../img/radio-off.svg");
  background-size: contain;
}

.fat-radio input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0px;
  left: 0px;
  background-image: url("../img/radio-on.svg");
  background-size: contain;
}

.filter-form .topping-form {
  margin-right: 0;
}

.filter-form .topping {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #ffffff;
  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-left: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.topping-form li {
  text-decoration: none;
  display: inline-block;
  margin-left: 46px;
  margin-right: 3px;
  position: relative;
  cursor: pointer;
}

.topping-checkbox input[type="checkbox"] + .checkbox-indicator {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-size: contain;
  top: -1px;
  left: -30px;
}

.topping-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0px;
  left: 0px;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sorting-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 20px;
  color: #ffffff;
  padding: 7px 26px;
  height: 36px;
  margin-top: 22px;
}

.sorting-btn:hover {
  background-color: #ffffff;
  color: #323232;
}

.sorting-btn:active {
  background-color: #eaeaea;
  color: #323232;
}



/*___________________________ТОВАРЫ_______________________________*/

.popular-items-list,
.catalog-items-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 24px;
}

.catalog-items-list {
  flex-wrap: wrap;
  height: 1104px;
}

.popular-item,
.catalog-item {
  text-align: center;
  position: relative;
  width: 267px;
  padding-left: 13px;
  padding-right: 13px;
  position: relative;
  margin-bottom: 22px;
  z-index: 5;
}

.popular-item:nth-child(4n),
.catalog-item:nth-child(4n) {
  padding-right: 0;
}

.popular-item:nth-child(4n-3),
.catalog-item:nth-child(4n-3) {
  padding-left: 0;
}

.popular-image img,
.catalog-image img {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: -9px;
}

.popular-item .price,
.catalog-item .price {
  position: absolute;
  top:180px;
  font-size: 45px;
  line-height: 45px;
}

.popular-item .ruble {
  vertical-align: bottom;
}

.popular-item .weight,
.catalog-item .weight {
  padding-left: 30px;
  font-size: 30px;
  line-height: 45px;
  position: relative;
  margin-left: 5px;
}

.popular-item .weight::before,
.catalog-item .weight::before {
  content: "";
  position:absolute;
  width: 44px;
  height: 40px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  top: -3px;
  left: -2px;
}

.popular-item a,
.catalog-item a {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 10px;
}

.popular-item a:hover,
.catalog-item a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.popular-item a:active,
.catalog-item a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.popular-items li:hover,
.catalog-items li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.catalog-item .fast-btn {
  font-weight: bold;
  margin-top: 11px;
  margin-bottom: 21px;
  visibility: hidden;
}

.catalog-item:not(:nth-child(n+9)) {
  margin-bottom: -52px;
}

.catalog-item:nth-child(-n+4) {
  z-index: 30;
}

.catalog-item:nth-child(n+5) {
  z-index: 20;
}

.catalog-item:nth-child(n+9) {
  z-index: 10;
}

.catalog-item:hover .fast-btn {
  visibility: visible;
}

.popular-item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  left: 13px;
  top: 16px;
}

.popular-item:first-child::before {
  left: 0px;
}


/*___________________________ПРЕИМУЩЕСТВА_________________________________*/
.features {
  background-image: url("../img/wafer.jpg");
  background-color: #f9efd4;
  margin-bottom: 40px;
  margin-top: 16px;
  border-radius: 15px;
  padding-top: 26px;
  padding-right: 19px;
  padding-left: 9px;
  padding-bottom: 0px;
}

.features-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  padding-bottom: 5px;
}

.features p {
  margin: 0;
  margin-left: 11px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features .features-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  width: 50%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-sizing: border-box;
  padding-top: 3px;
  padding-left: 67px;
  padding-right: 10px;
  padding-bottom: 20px;
  position: relative;
}

.features-item:nth-child(2),
.features-item:nth-child(4) {
  padding-left: 74px;
}

.features-item:first-child::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  left: 11px;
  top: -9px;
}

.features-item:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  left: 17px;
  top: -9px;
}

.features-item:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  left: 11px;
  top: -9px;
}

.features-item:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  left: 17px;
  top: -9px;
}


/*________________________________БЛОГ_____________________________*/
.blog-subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.blog {
  background-image: url("../img/bg-strawberry.jpg");
  background-position: 20% 40%;
  margin-right: 13px;
  max-width: 560px;
  height: 220px;
  border-radius: 15px;
  padding-top: 23px;
  padding-right: 250px;
  padding-left: 19px;
  box-sizing: border-box;
  width: 50%;
}

.blog p {
  font-weight: 500;
  color: #323232;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  /*border-bottom: 2px solid #323232;*/
  color: #323232;
}

.subscribe-wrapper {
  width: 50%;
  min-height: 220px;
  margin-left: 13px;
  border-radius: 15px;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 5px;
}

.subscribe {
  padding: 30px 21px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscribe p {
  font-weight: normal;
  color: #5a5a5a;
  margin: 0;
}

.subscribe-wrapper form {
  display: inline-block;
}

.subscribe input[type="email"] {
  margin-top: 35px;
  width: 352px;
  height: 40px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  padding-left: 14px;
}

.subscribe-btn {
  margin-left: 8px;
  margin-top: 34px;
  padding: 10px 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.map .container-inner {
  display: flex;
  justify-content: flex-end;
}

.map {
  padding-top: 53px;
  padding-bottom: 71px;
  padding-left: 0;
  padding-right: 0;
  height: 305px;
  background-image: url("../img/map.jpg");
  background-position: 0px -107px;
  position: relative;
}

.map .pin {
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 140px;
  position: absolute;
  top: 138px;
  left: 265px;
}

iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: red;
  z-index: 2;
}

/*__________________________ОКНО КОНТАКТОВ___________________________________*/

.contacts {
  background-color: rgba(255, 255, 255, 0.98);
  color: #323232;
  width: 251px;
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  z-index: 3;
  border-radius: 10px;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  margin:0;
  padding: 0;
  padding-top: 25px;
  margin-bottom: 2px;
  margin-top: 2px
}

.contacts .address {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 0px;
}

.contacts .order {
  padding-top: 17px;
}

.contacts .phone {
  font-size: 18px;
}

.contacts .working-time {
  font-size: 14px;
  font-weight: normal;
}

.feedback-btn {
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  margin-top: 26px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 8px;
  padding-bottom: 12px;
}
/*___________________________ПАГИНАТОР__________________________________*/
.paginator {
    margin: 20px 4px 29px 950px;
    padding-left: 30px;
    padding-right: 16px;
    padding-top: 21px;
    position: relative;
}

.paginator .disabled {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.paginator .disabled:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  cursor: default;
}

.page {
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  width: 25px;
  height: 21px;
  padding-top: 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  border: 0;
}

.prev {
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  position: absolute;
  left: 8px;
  top: 29px;
  transform: rotate(45deg);
}

.prev:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.next {
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  position: absolute;
  left: 184px;
  top: 29px;
  transform: rotate(225deg);
}

.next:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.current-number,
.page .current-number:hover {
    background-color: #ffffff;
}
.paginator .current-number,
.page:active {
    color: #323232;
}

.page:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.page:active{
    background-color: #ffffff;
}

/*______________________________ФУТЕР__________________________________*/
.page-footer {
  display: flex;
  justify-content: space-between;
}

.catalog-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.footer-social .social {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  background: #849d8f;
  vertical-align: top;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin-top: -10px;
}

.footer-social .social-twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.footer-social .social-instagram {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.footer-social .social-fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.footer-social .social-vk {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}

.footer-documents {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  list-style: none;
  margin-right: 65px;
}

.footer-documents li {
  list-style: none;
  margin: 0px 0 4px 19px;
}

.footer-documents .col-2 {
  padding-left: 13px;
}

.footer-documents .col-1:first-child {
  position: relative;
}

.footer-documents .col-1:first-child::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
  left: 37px;
}

.footer-copyright {
  margin-top: 8px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.footer-copyright .html-academy-logo {
  border: 0;
}

.footer-copyright p {
  margin-top: 0px;
  margin-bottom: 26px;
}
/*_______________________ЛОГИН_________________________*/
.modal-login {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  background-color: #f8f7f4;
  padding: 20px 17px 20px 19px;
  width: 277px;
  border-radius: 5px;
  position: absolute;
  top: 65px;
  left: 810px;
  z-index: 10;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-show {
  display: block;
}

.user-form input[type="email"],
.user-form input[type="password"] {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin-bottom: 20px;
  height: 42px;
  width: 239px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding-left: 14px;
}

.login-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 13px 25px 11px 24px;
}

.modal-login a {
  color: #323232;
  display: inline-block;
  margin-left: 20px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-login a:hover {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.bottom-login {
  display: flex;
}
/*____________________ФИДБЭК_______________________*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  display: none;
}

.modal-feedback {
  width: 445px;
  color: #323232;
  background-color: #f8f7f4;
  padding: 18px 25px 27px 24px;
  position: fixed;
  left: 50%;
  top: 120px;
  margin-left: -200px;
  border-radius: 10px;
  display: none;
  z-index: 30;
}

.modal-feedback h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 0;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  margin-top: 20px;
  margin-bottom: 0;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  height: 42px;
  width: 265px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding-left: 14px;
}

.feedback-form textarea {
  height: 153px;
  width: 426px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding-left: 14px;
  padding-top: 12px;
}

.modal-feedback-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 12px 23px;
  margin-top: 20px;
  float: right;
}

.feedback-form .modal-close {
  width: 18px;
  height: 17px;
  font-size: 0;
  background-color: #f8f7f4;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.feedback-form .modal-close::before,
.feedback-form .modal-close::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 2px;
  background-color: #323232;
  top: 8px;
  right: -3px;
}

.feedback-form .modal-close::before {
  transform: rotate(45deg);
}

.feedback-form .modal-close::after {
  transform: rotate(-45deg);
}
/*____________________КОРЗИНА____________________________*/
.modal-basket {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  width: 543px;
  color: #323232;
  background-color: #f8f7f4;
  padding: 19px 15px 20px 41px;
  position: absolute;
  border-radius: 10px;
  position: absolute;
  top: 65px;
  right: 27px;
  z-index: 10;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-basket img {
  border-radius: 50%;
}

.modal-basket .chosen-item-description {
  padding-left: 10px;
  width: 215px;
  padding-right: 16px;
}

.modal-basket .chosen-item-weight {
  padding-left: 16px;
  width: 95px;
  padding-right: 15px;
}


.modal-basket .chosen-item-price {
  padding-left: 14px;
  width: 50px;
  padding-right: 35px;
}

.modal-basket .gray {
  color: #999999;
}

.modal-basket .total {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
}

.basket-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 11px 14px;
}

.buy-wrapper {
  display: block;
  float: right;
  position: relative;
}

.buy-wrapper .total::before {
  content:"";
  position: absolute;
  width: 510px;
  height: 1px;
  background-color: #cacac7;
  top: 0;
  left: -380px;
}

.modal-basket .modal-close {
  width: 18px;
  height: 17px;
  font-size: 0;
  background-color: #f8f7f4;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 16px;
}

.modal-basket .modal-close::before,
.modal-basket .modal-close::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 2px;
  background-color: #323232;
  top: 8px;
  right: -3px;
}

.modal-basket .modal-close::before {
  transform: rotate(45deg);
}

.modal-basket .modal-close::after {
  transform: rotate(-45deg);
}
