body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
}

.site-wrapper {
  width: 100%;
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider3.png");
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.conteiner-inner {
  margin: 0 auto;
  padding: 9px 27px 0 27px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
  display: inline-block;
  padding: 12px 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}*/

.main-header {
  display: flex;
  flex-wrap: wrap;
}

.main-header ul {
  padding: 0;
  list-style: none;
}

.main-header .header-logo {  /*убрать подчеркивание с ссылки на лого*/

}

.main-nav {
  flex-grow: 1;
  margin-left: 24px;
}

.topmenu {
  display: flex;
}

.topmenu-item:first-child {
  position: relative;
}

.topmenu .current-page {
  background-color: #e74b36;
}

.topmenu-item a {
  display: inline-block;
  line-height: 18px;
  margin-right: 28px;
  vertical-align: middle;
}

.topmenu-item a:hover {
  color: #333333;
  background-color: #f7f6f3;
}

.main-nav .submenu { /*не работает*/
  background-color: #f8f7f4;
  position: absolute;
  top: 50px;
  display: none;
  z-index: 50;
}

.topmenu li:first-child:hover .submenu {
  display: block;
}

.submenu-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
}

.submenu-item a:hover {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.submenu-item a:hover {
  background-color: #fbded7;
}

.submenu-item a:active {
  background-color: #f6b5a5;
}

.submenu-item.current-item {
  background-color: #d07058;
  color: white;
}

.user-navigation ul {
  display: flex;
}

/*.user-navigation .search { <!--красивая форма поиска-->
  display: inline-block;
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 4px;
}

.user-navigation input[type="search"] {
  width: 311px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;*/
}

.user-navigation li { /*не работает!!!*/
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  padding: 0;
}

.info .working-hours {
  font-size: 14px;
  line-height: 16px;
}

.info .phone {
  font-size: 22px;
  line-height: 24px;
}
/*_________________________breadcrumbs_________________________*/
.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 22px;
  text-decoration: none;
  display: inline-block;
}

.breadcrumbs li:nth-child(2)::before,
.breadcrumbs li:nth-child(3)::before {
  content: "»";
  position: absolute;
  width: 6px;
  height: 6px;
  left: -15px;
}
/*___________________________________________________________*/

.container h1 {
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 50px;
}


/*_________________________________Слайдер__________________________________*/

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-btn {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.slide-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}


/*________________________________ПРОМО_____________________________________*/

.promo .promo-items-list {
  display: flex;
  align-content: stretch;
  list-style: none;
  padding: 0;
  min-height: 229px;
}

.promo .promo-item {
  width: 50%;
  padding: 18px 10px 23px 18px;
  border-radius: 15px;
}

.promo-item:first-child {
  margin-right: 13px;
  background-image: url("../img/raspberry.jpg");
}

.promo-item:last-child {
  margin-left: 13px;
  background-image: url("../img/chocolate.jpg");
}

.promo-item h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.promo-item p {
  font-size: 18px;
  line-height: 22px;
}

.promo-btn {
  float: right;

}
/*____________________________СОРТИРОВКА_________________________________*/

.filter-form {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
}

.filter legend,
.filter .price,
.filter .sorting {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sorting-form,
.price-form {
  position: relative;
}

.sorting-form label,
.price-form label {
  position: absolute;
  top: -20px;
}

.filter fieldset {
  position: relative;
}

.filter legend {
  position: absolute;
  top: -20px;
}

.filter label {
  line-height: 18px;
  font-weight: 500;
}

.fat-form  li {
  text-decoration: none;
  display: inline-block;
}

.topping-form li {
  text-decoration: none;
  display: inline-block;
}

.sorting-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  color: #ffffff;
}

.sorting-btn:hover {
  background-color: #ffffff;
  color: #323232;
}

.sorting-btn:active {
  background-color: #eaeaea;
  color: #323232;
}

/*___________________________ТОВАРЫ_______________________________*/

.popular-items-list,
.catalog-items-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.catalog-items-list {
  flex-wrap: wrap;
}

.popular-item,
.catalog-item {
  text-align: center;
  position: relative;
  width: 267px;
  margin-right: 26px;
}

.popular-item:nth-child(4n) {
  margin-right: 0;
}

.popular-image img,
.catalog-image img {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: auto;

}

.popular-item .price,
.catalog-item .price {
  position: absolute;
  bottom: 80px;
  font-size: 45px;
  line-height: 45px;
}

.popular-item .ruble {
  vertical-align: bottom;
}

.popular-item .weight,
.catalog-item .weight {
  padding-left: 30px;
  font-size: 30px;
  line-height: 45px;
  position: relative;
}

.popular-item .weight::before {
  content: "";
  position:absolute;
  width: 44px;
  height: 40px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  top: -2px;
  left: 2px;
}

.popular-item a,
.catalog-item a {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.popular-item a:hover,
 {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.popular-item a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.popular-items li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}



/*___________________________ПРЕИМУЩЕСТВА_________________________________*/
.features {
  background-image: url("../img/wafer.jpg");
  margin-bottom: 40px;
  border-radius: 15px;
  padding: 28px 19px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.features p {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features .features-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  width: 50%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-sizing: border-box;
  padding: 11px;
  padding-left: 68px;
  padding-right: 21px;
  position: relative;
}

.features-item:first-child::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  left: 0px;
}

.features-item:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  left: 0px;
}

.features-item:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  left: 0px;
}

.features-item:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  left: 0px;
}


/*________________________________БЛОГ_____________________________*/
.blog-subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  background-image: url("../img/bg-strawberry.jpg");
  background-position: 20% 40%;
  margin-right: 13px;
  max-width: 560px;
  min-height: 158px;
  border-radius: 15px;
  padding: 26px 10px;
}

.blog p {
  font-weight: 500;
  color: #323232;
}

.blog a{
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: #323232;
}


.subscribe {
  display: flex;
  background-image: url("../img/bg-post.svg"); /*градиент*/
  margin-left: 13px;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  padding: 10px;
}

.subscribe-wrapper {
  display: block;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscribe p {
  font-weight: normal;
  color: #5a5a5a;
}

.subscribe input[type="email"] {
  width: 368px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

/*.map {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-image: url("../img/map.jpg");
}

.map .pin {
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 140px;
  position: absolute;
  top: 140px;
  left: 265px;
}*/

.map .container-inner {
  display: flex;
  justify-content: flex-end;
}

.map {
  padding: 62px 0;
  background-image: url("../img/map.jpg");
  background-position: 0px -107px;
  position: relative;
}

.map .pin {
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 140px;
  position: absolute;
  top: 140px;
  left: 265px;
}

/*__________________________ОКНО КОНТАКТОВ___________________________________*/

.contacts {
  background-color: rgba(255, 255, 255, 0.98);
  color: #323232;
  width: 302px;
  padding: 32px 25px;
  z-index: 3;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.contacts .address {
  font-size: 18px;
  line-height: 24px;
}

.contacts .phone {
  font-size: 18px;
}

.contacts .working-time {
  font-size: 14px;
  font-weight: normal;
}

.feedback-btn {
  display: inline-block;
  margin-top: 30px;
}
/*___________________________ПАГИНАТОР__________________________________*/
.paginator {
  float: right;
  margin-bottom: 30px;
}


.paginator a {
  line-height: 18px;
  font-weight: 500;
}

.paginator a:hover {
  background-color: white;
  color: #323232;
}

.paginator a:active {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
/*______________________________ФУТЕР__________________________________*/
.page-footer {
  display: flex;
  justify-content: space-between;
}

.footer-documents {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.modal-login {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.modal-feedback h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
