body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.main-nav .topmenu {
  list-style: none;
}

.topmenu .current-page {
  background-color: #e74b36;
}

.topmenu-item a {
  display: inline-block;
  line-height: 18px;
}

.topmenu-item a:hover {
  color: #333333;
  background-color: #f7f6f3;
}

.main-nav .submenu {
  list-style: none;
  background-color: #f8f7f4;
}

.submenu-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
}

.submenu-item a:hover {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.submenu-item a:hover {
  background-color: #fbded7;
}

.submenu-item a:active {
  background-color: #f6b5a5;
}

.submenu-item.current-item {
  background-color: #d07058;
  color: white;
}

.user-navigation {
  list-style: none;
}

/*.user-navigation .search { <!--красивая форма поиска-->
  display: inline-block;
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 4px;
}

.user-navigation input[type="search"] {
  width: 311px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;*/
}

.user-navigation li { /*не работает*/
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
}

.info .working-hours {
  font-size: 14px;
  line-height: 16px;
}

.info .phone {
  font-size: 22px;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
}

.slider p {
  font-size: 60px;
  line-height: 60.35px;
}


.btn {  /*убрать стандартные стили кнопки. обводка*/
  font-size: 18px;
  line-height: 24px;
  background-color: #e84d37;
  background: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  border-radius: 25px;
  color: #ffffff;
}

.btn:hover {
  background: linear-gradient(to top, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
}

.btn:active {
  background: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
}

.btn-link {
  font-size: 18px;
  line-height: 24px;
  background-color: #e84d37;
  background: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  border-radius: 25px;
  color: #ffffff;
}

.btn-link:hover {
  background: linear-gradient(to top, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
  color: #ffffff;
}

.btn-link:active {
  background: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
}

.slide-btn {
  font-size: 32px;
  line-height: 44px;
}

.sorting-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  color: #ffffff;
}

.sorting-btn:hover {
  background-color: #ffffff;
  color: #323232;
}

.sorting-btn:active {
  background-color: #eaeaea;
  color: #323232;
}


.promo .promo-items-list {
  list-style: none;
}

.promo-item:first-child {
  background-image: url("../img/raspberry.jpg");
}

.promo-item:last-child {
  background-image: url("../img/chocolate.jpg");
}

.promo-item h3 {
  font-size: 35px;
  line-height: 41px;
}

.promo-item p {
  font-size: 18px;
  line-height: 22px;
}

.filter legend,
.filter .price,
.filter .sorting {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sorting-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter label {
  line-height: 18px;
  font-weight: 500;
}

.popular-items li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.popular-items-list,
.catalog-items-list {
  list-style: none;
}

.popular-item .price,
.catalog-item .price {
  font-size: 45px;
  line-height: 45px;
}

.popular-item .small,
.catalog-item .small {
  font-size: 30px;
  line-height: 45px;
}

.popular-item .description,
.catalog-item .description {
  font-weight: 500;
}

.features {
  background-image: url("../img/wafer.jpg");
}

.features-list {
  list-style: none;
}

.features p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
}

.features .features-item {
  font-weight: normal;
  color: #323232;
}

.blog {
  background-image: url("../img/bg-strawberry.jpg");
}

.blog p {
  font-weight: 500;
  color: #323232;
}

.blog-article {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: #323232;
}

.subscribe {
  background-image: url("../img/bg-post.svg"); /*градиент*/
}

.subscribe-wrapper {
  background-color: #f8f7f4;
}

.subscribe p {
  font-weight: normal;
  color: #5a5a5a;
}

.subscribe input[type="email"] {
  width: 368px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.map .pin {
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
}

.contacts {
  background-color: rgba(255, 255, 255, 0.98);
  color: #323232;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.contacts .address {
  font-size: 18px;
  line-height: 24px;
}

.contacts .phone {
  font-size: 18px;
}

.contacts .working-time {
  font-size: 14px;
  font-weight: normal;
}

.paginator a {
  line-height: 18px;
  font-weight: 500;
}

.paginator a:hover {
  background-color: white;
  color: #323232;
}

.paginator a:active {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.footer-documents {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.modal-login {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.modal-feedback h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
